<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="witdth=device-with, initial-scale=1.0">
        <link rel="stylesheet" href="/main.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <title>Portfolia</title>
        <body>
            <div class="frame">
                <div class="mainFrame">
                    <div class="leftFrame">
                        <div class="left1">
                            <div class="left11">
                                <img src="images/Profile.svg" width: 156.16px; height: 135.05px; alt="">
                            </div>
                            <div class="left12">
                                <%=user.name%>
                            </div>
                            <div class="left13"><%=user.profession%></div>
                            <div class="left14">
                                <a class="link_href" href="">
                                    <div class="icon">
                                        <img src="icons/Facebook.svg" class="smicon">
                                    </div>
                                </a>
                                <a class="link_href" href="">
                                    <div class="icon">
                                        <img src="icons/Instagram.svg" class="smicon">
                                    </div>
                                </a>
                                <a class="link_href" href="">
                                    <div class="icon">
                                        <img src="icons/Twitter.svg" class="smicon">
                                    </div>
                                </a>
                                <a class="link_href" href="">
                                    <div class="icon">
                                        <img src="icons/Linkeding.svg" class="smicon">
                                    </div>
                                </a>
                                <a class="link_href" href="">
                                    <div class="icon">
                                        <img src="icons/Youtube.svg" class="smicon">
                                    </div>
                                </a>
                                <a class="link_href" href="">
                                    <div class="icon">
                                        <img src="icons/Dribbble.svg" class="smicon">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="marginer"></div>
                        <div class="left2">
                            <div class="left21">a</div>
                            <div class="left22">a</div>
                            <div class="left23">a</div>
                            <div class="left24">a</div>
                        </div>
                        <div class="marginer"></div>
                        <div class="left3"></div>
                        <div class="marginer"></div>
                        <div class="left4"></div>
                        <div class="marginer"></div>
                        <div class="left5"></div>
                        <div class="marginer"></div>
                    </div>
                    <div class="midFrame">
<h1>ABDURAKHIMJON</h1>
                    </div>
                    <div class="rightFrame">
<h1>UGLI</h1>
                    </div>
                </div>
            </div>
        </body>
    </head>
</html>