<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="witdth=device-with, initial-scale=1.0">
        <link rel="stylesheet" href="/main.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <title>Portfolia</title>
        <body>
            <div class="frame">
                <div class="mainFrame">
                    <div class="leftFrame">
                        <div class="left1">
                            <div class="left11">
                                <img src="images/Profile.svg" width: 156.16px; height: 135.05px; alt="">
                            </div>
                            <div class="left12">
                                <%=user.name%>
                            </div>
                            <div class="left13"><%=user.profession%></div>
                            <div class="left14">
                                <a class="link_href" href="">
                                    <div class="icon">
                                        <img src="icons/Facebook.svg" class="smicon">
                                    </div>
                                </a>
                                <a class="link_href" href="">
                                    <div class="icon">
                                        <img src="icons/Instagram.svg" class="smicon">
                                    </div>
                                </a>
                                <a class="link_href" href="">
                                    <div class="icon">
                                        <img src="icons/Twitter.svg" class="smicon">
                                    </div>
                                </a>
                                <a class="link_href" href="">
                                    <div class="icon">
                                        <img src="icons/Linkeding.svg" class="smicon">
                                    </div>
                                </a>
                                <a class="link_href" href="">
                                    <div class="icon">
                                        <img src="icons/Youtube.svg" class="smicon">
                                    </div>
                                </a>
                                <a class="link_href" href="">
                                    <div class="icon">
                                        <img src="icons/Dribbble.svg" class="smicon">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="marginer"></div>
                        <div class="left_2">
                            <div class="left_info">
                                <p>Age:</p>
                                <p>Residence:</p>
                                <p>Freelance:</p>
                                <p>Address:</p>
                            </div>
                            <div class="left_user">
                                <p><%=user.age%></p>
                                <p><%=user.residence%></p>
                                <p class="avialable">Available</p>
                                <p>Seoul</p>
                            </div>
                        </div>
                        <div class="marginer"></div> //




                         <div class="left_3">
            <p>Languages</p>
            <div class="progress_row">
              <p class="progress_name">Uzbek</p>
              <p class="progress_percentage">100%</p>
            </div>
            <div class="progress_bar">
              <div class="progress_fill" style="width: 100%"></div>
            </div>
            <div class="progress_row">
              <p class="progress_name">English</p>
              <p class="progress_percentage">80%</p>
            </div>
            <div class="progress_bar">
              <div class="progress_fill" style="width: 80%"></div>
            </div>
            <div class="progress_row">
              <p class="progress_name">Korean</p>
              <p class="progress_percentage">60%</p>
            </div>
            <div class="progress_bar">
              <div class="progress_fill" style="width: 60%"></div>
            </div>
          </div>



          <div class="marginer"></div>
          <div class="left_4">
            <p>Skills</p>
            <div class="progress_row">
              <p class="progress_name">HTML</p>
              <p class="progress_percentage">90%</p>
            </div>
            <div class="progress_bar">
              <div class="progress_fill" style="width: 90%"></div>
            </div>
            <div class="progress_row">
              <p class="progress_name">CSS</p>
              <p class="progress_percentage">85%</p>
            </div>
            <div class="progress_bar">
              <div class="progress_fill" style="width: 85%"></div>
            </div>
            <div class="progress_row">
              <p class="progress_name">JS</p>
              <p class="progress_percentage">80%</p>
            </div>
            <div class="progress_bar">
              <div class="progress_fill" style="width: 80%"></div>
            </div>
            <div class="progress_row">
              <p class="progress_name">PHP</p>
              <p class="progress_percentage">75%</p>
            </div>
            <div class="progress_bar">
              <div class="progress_fill" style="width: 75%"></div>
            </div>
            <div class="progress_row">
              <p class="progress_name">WordPress</p>
<p class="progress_percentage">85%</p>
            </div>
            <div class="progress_bar">
              <div class="progress_fill" style="width: 85%"></div>
            </div>
          </div>


          <div class="marginer"></div>
          <div class="left_5">
            <p style="margin-top: 10px">Extra Skills</p>
            <div class="extars">
              <img
                src="icons/extraicon.svg"
                alt=""
                width="15px"
                height="15px"
              />
              <p>Bootstrap, Materialize</p>
            </div>
            <div class="extars">
              <img
                src="icons/extraicon.svg"
                alt=""
                width="15px"
                height="15px"
              />
              <p>Git Knowledge</p>
            </div>
            <div class="extars">
              <img
                src="icons/extraicon.svg"
                alt=""
                width="15px"
                height="15px"
              />
              <p>Stylus, Sass, Less</p>
            </div>
            <div class="extars">
              <img
                src="icons/extraicon.svg"
                alt=""
                width="15px"
                height="15px"
              />
              <p>Gulp, Webpack, Grunt</p>
            </div>
          </div>
        </div>
                    
                <div class="midFrame">
                    <div class="midtop">
                        <div class="midtopleft">A</div>
                        <div class="midtopright">B</div>
                    </div>
                    <div class="midinfos">
                        <p class="myserviceinfo">My Services</p>
                        <h2 class="intro">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            Velit officia consequat duis enim velit mollit. lorem ipsum</h2>
                    </div>


                    <mid class="midbottom"></mid>
                
                
                </div>
                <div class="rightFrame"></div>


                </div>
            </div>
        </body>
    </head>
</html>